@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/* Logo */
.logo img {
    height: 90px;
}

/* Navigatie */
.nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav a {
    text-decoration: none;
    color: #f9f7f1;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #f5c144;
}

/* Knop */
.header-button button {
    padding: 10px 20px;
    background-color: #f5c144;
    color: #f9f7f1;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.header-button button:hover {
    background-color: #e6bb30;
}

/* Hero */
.hero {
    position: relative;
    height: 100vh;
    background: url("/public/img/Hero.jpeg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 78px;
    font-weight: 500;
    font-family: playfair;
    line-height: 1.1;
    margin-bottom: 60px;
    margin-top: 70px;
    color: #f9f7f1;
}

/* Zoekbalk */
.search-bar {
    display: flex;
    background-color: #f9f7f1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: 0 auto;
    border: none;
}

.search-field {
    flex: 1;
    padding: 20px 24px;
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
    width: 175px;
    border-right: 1px solid;
    border-color: #aaaaaa31;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-field:last-of-type {
    border-right: none;
}

.search-field:focus {
    outline: none;
}

.search-bar a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f5c144;
    color: white;
    border: none;
    padding: 0 42px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
}


.search-bar a:hover {
    background-color: #d9a319;
}


/* main */
.populairehuizen {
    display: flex;
    flex-direction: column;
    padding: 100px 100px 50px 100px;
    background-color: #f9f7f1;
}

.populairehuizen h2 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 500;
}

.populairehuizenrow {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.populairehuizencol h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.populairehuizencol span {
    font-weight: 400;
}

.populairehuizencol h4 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.ratingstars i {
    color: #F5C144;
}

.ratingstars {
    margin: 5px 0px;
}

.populairehuizen img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #f9f7f1;
    padding: 70px 100px 30px;
}

footer h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.footerrow1 {
    display: flex;
    justify-content: space-between;
}

.footerrow1 a {
    text-decoration: none;
    transition: 0.3s ease;
}

.footerrow1 a:hover {
    color: #f5c144;
}

.footercol1 img {
    width: 100px;
}

.footercol1,
.footercol2,
.footercol3,
.footercol4 {
    display: flex;
    flex-direction: column;
}

.footerrow2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerrow2 span {
    font-weight: 700;
}

.footerrow2 hr {
    width: 100%;
    margin: 30px 0px;
    background-color: #F5C144;
}

.icona {
    display: flex;
    align-items: center;
}

.icona i {
    margin-right: 10px;
    font-size: 17px;
}

.icona span {
    margin-right: 10px;
}

/* bestemmingen */
.bestemmingen {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 300px 100px;
    background-color: #f9f7f1;
}

.bestemmingen h2 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 500;
}

.bestemmingentegels {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.bestemming-tegel {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
}

/* Afbeelding */
.bestemming-tegel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.bestemming-tegel img:hover {
    transform: scale(1.05);
}

/* Overlay met vlag en tekst */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    color: white;
    z-index: 2;
}

.overlay h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Instrument Sans', sans-serif;
}

/* Zorg dat vlag-iconen goed zichtbaar zijn */
.overlay .fi {
    font-size: 24px;
}

/* USP's */
.usp {
    text-align: center;
    margin-top: 100px;
    padding: 2rem 1rem;
    margin-top: -170px;
}

.usp h2 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.usp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usp-tegels-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.usptegel {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    max-width: 350px;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
}

.usptegel img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.usptext h3 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0 0 0.3rem 0;
    text-align: left;
}

.usptext p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #555;
    text-align: left;
}

/* CTA home */
.calltoactionhome {
    position: relative;
    background-image: url('/public/img/CTA.jpg');
    /* vervang met jouw afbeelding */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 140px 100px 140px 100px;
    padding: 300px 100px 100px 100px;
}

.cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    /* donkere tint */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.cta-content {
    z-index: 2;
    max-width: 800px;
}

.cta-content h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cta-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 28px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: 0.3s ease;
}

.cta-button:hover {
    background-color: #F5C144;
    text-decoration: none;
    color: white;
}

/* About */
.about {
    padding: 100px;
}


.heroother {
    position: relative;
    height: 60vh;
    background: url("/public/img/Hero.jpeg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heroother::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.heroother-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 20px;
}

.heroother h1 {
    font-size: 78px;
    font-weight: 500;
    font-family: playfair;
    line-height: 1.1;
    margin-bottom: 60px;
    margin-top: 150px;
    color: #f9f7f1;
}


/* Search bar results */
.search-bar-results {
    display: flex;
    background-color: #f9f7f1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: 0 auto;
    border: none;
    margin-top: 60px;
    margin-bottom: -90px;
    /* schuift de search bar omhoog, half over hero */

    position: relative;
    z-index: 10;
    /* zorgt dat search bar boven overlay komt */
}


.search-field {
    flex: 1;
    padding: 20px 24px;
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
    width: 175px;
    border-right: 1px solid;
    border-color: #aaaaaa31;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-field:last-of-type {
    border-right: none;
}

.search-field:focus {
    outline: none;
}

.search-bar-results a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f5c144;
    color: white;
    border: none;
    padding: 0 42px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
}

.search-bar-results a:hover {
    background-color: #d9a319;
}

/* hero results */
.heroresults {
    position: relative;
    height: 60vh;
    background: url("/public/img/Hero.jpeg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.heroresults::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.heroresults-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 20px;
}

.heroresults h1 {
    font-size: 78px;
    font-weight: 500;
    font-family: playfair;
    line-height: 1.1;
    margin-bottom: 60px;
    margin-top: 150px;
    color: #f9f7f1;
}

/* Contact */
.contact {
    padding: 100px;
    max-width: 500px;
    margin: 40px auto;
    padding: 100px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

.contact h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    color: #2c3e50;
}

.contact .form-group label {
    font-weight: 500;
    color: #34495e;
}

.contact .form-control {
    border-radius: 6px;
    border: 1px solid #ced4da;
    margin-bottom: 15px;
    transition: border-color 0.2s;
}

.contact .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.08);
}

.contact-container {
    max-width: 900px;
    margin: 100px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    padding: 50px 100px;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
}

.contact-header h2 {
    font-weight: 600;
    color: #2c3e50;
}

.contact-header p {
    color: #555;
    margin-top: 10px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.contact-form {
    flex: 1 1 320px;
    min-width: 280px;
    margin-bottom: 20px;
}

.contact-form .form-group label {
    font-weight: 500;
    color: #34495e;
}

.contact-form .form-control {
    border-radius: 6px;
    border: 1px solid #ced4da;
    margin-bottom: 15px;
    transition: border-color 0.2s;
}

.contact-form .form-control:focus {
    border-color: #f5c144;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.08);
}

.btn-submit {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #f5c144;
    border: none;
    color: #fff;
    transition: background 0.2s;
}

.btn-submit:hover {
    background: #CCA403;
}

.register-cta-box {
    position: relative;
    background-image: url('/public/img/CTA.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
    padding: 150px 30px 80px 30px;
    flex: 1 1 250px;
    min-width: 220px;
    max-width: 100%;
}

.register-cta-box .cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    /* donkere tint */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.register-cta-box .cta-content {
    z-index: 2;
    max-width: 600px;
}

.register-cta-box .cta-content h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.register-cta-box .cta-content p {
    font-size: 16px;
    margin-bottom: 25px;
}

.register-cta-box .cta-button {
    display: inline-block;
    padding: 10px 22px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.register-cta-box .cta-button:hover {
    background-color: #F5C144;
    color: white;
    text-decoration: none;
}


@media (max-width: 800px) {
    .contact-content {
        flex-direction: column;
        gap: 20px;
    }

    .register-cta-box,
    .contact-form {
        min-width: 0;
    }
}

/* Accommodaties */
.accommodaties {
    padding: 100px;
}

.flagandname {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.flagandnametop {
    display: flex;
    gap: 20px;
    margin-top: 0px;
}

.flagandname span {
    font-size: 34px;
}

.flagandnametop span {
    font-size: 34px;
}

.accommodatiesnederland h2 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 500;
}

.accommodatiesbelgie h2 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 500;
}

.accommodatiesluxemburg h2 {
    font-family: Playfair;
    font-size: 48px;
    font-weight: 500;
}

.accommodatierow {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.accommodatiecol {
    width: 18%;
    margin-bottom: 40px;
}

.accommodatiecol img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.accommodatiecol h3 {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 700;
}

.accommodatiecol span {
    font-weight: 400;
}

.accommodatiecol h4 {
    font-size: 18px;
    margin-top: 6px;
    font-weight: 700;
}

.ratingstars i {
    color: #F5C144;
}

.ratingstars {
    margin: 5px 0px;
}

/* CTA accommodaties */
.calltoactionaccommodaties {
    position: relative;
    background-image: url('/public/img/CTA.jpg');
    /* vervang met jouw afbeelding */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 100px 140px 100px;
    padding: 300px 100px 100px 100px;
}

/* LOGIN/REGISTER */
.login {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.logintile {
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 30px;
}

#registertile {
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 30px;
}

.loginandclose {
    display: flex;
    justify-content: space-between;
}

.loginandclose h2 {
    font-size: 30px;
    font-family: playfair;
    margin-left: 10px;
    margin-top: 10px;
}

.loginandclose i {
    font-size: 40px;
    margin-top: 7px;
    cursor: pointer;
}

.logintile form {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
}

.logintile form button {
    background-color: #F5C144;
    border: none;
    color: white;
    font-size: 20px;
    height: 55px;
    border-radius: 5px;
    margin: 20px 0px 10px 0px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.logintile form button:hover {
    background-color: #d9a319;
}

.logintile p {
    color: #f5c144;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

.logintile form input {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}

.logintile form label {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.registerareabox {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 10px 10px 10px;
    border-radius: 10px;
}

.registerareabox h3 {
    font-weight: 900;
    color: #f5c144;
}

.registerareabox p {
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.registerareabox #h3register {
    margin-top: 20px;
    color: #000000;
    font-weight: 900;
}

.registerareabox a {
    color: #CCA403;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
}

/* Backdrop overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: none;
}

.logintile .loginandclose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logintile .loginandclose i {
    cursor: pointer;
}

/* Algemene sectiestyling */
.results {
    padding: 100px;
}

.results h2 {
    font-size: 28px;
}

.results h2 span {
    font-weight: 700;
}

/* Lijst van accommodatietegels */
.accommodatie-lijst {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

/* Tegelstructuur */
.accommodatie-tegel-verticaal {
    display: flex;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
    transition: transform 0.3s ease;
}

.img-wrapper {
  width: 280px;
  height: 240px;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  flex-shrink: 0;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-wrapper img:hover {
  transform: scale(1.1);
}


/* Info-blok */
.accommodatie-tegel-verticaal .info {
    padding: 15px 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.accommodatie-tegel-verticaal h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 700;
}

.accommodatie-tegel-verticaal h3 a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.accommodatie-tegel-verticaal h3 a:hover {
    color: #F5C144;
}

.accommodatie-tegel-verticaal p {
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
}

/* Extra faciliteiten-info */
.accommodatie-tegel-verticaal .extra-info {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

/* Beoordeling */
.ratingstars {
    color: #F5C144;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Prijs prominent weergegeven */
.accommodatie-tegel-verticaal .prijs {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: auto;
    margin-bottom: 0px;
    display: flex;
}

.accommodatie-tegel-verticaal .prijs span {
    font-weight: 600;
}

/* Knop onderin de tegel */
.actie-knop {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 15px;
}

.bekijk-btn {
    background-color: #F5C144;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.bekijk-btn:hover {
    background-color: #e0ad3a;
    color: #fff;
    text-decoration: none;
}
